* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 26px;
}

.fade{
    width: 200px;
    height: 200px;
    margin: 30px auto;
    background-color: #e2b1b1;
    text-align: center;
    color: #ffffff;
    font-size: 42px;
    opacity: 0.5;
}

.fade:hover{
    opacity: 1.0;
    transition: 0.8;
   
}

.grow{
    width: 250px;
    height: 250px;
    margin: 30px auto;
    background-color: #d69a9a;
    text-align: center;
    color: #ffffff;
    font-size: 42px;
}

.grow:hover{
    opacity: 1.0;
    transition: 1s;
    -webkit-transform: scale(3.3)
}

.shrink{
    width: 250px;
    height: 250px;
    margin: 30px auto;
    background-color: #b97a7a;
    text-align: center;
    color: #ffffff;
    font-size: 42px;
}

.shrink:hover{
    opacity: 1.0;
    transition: 1s;
    -webkit-transform: scale(0.5);
}

.circle{
    width: 250px;
    height: 250px;
    margin: 30px auto;
    background-color: #d38888;
    text-align: center;
    color: #ffffff;
    font-size: 42px;
}

.circle:hover{
    border-radius: 50%;
    transition: 1s;
}


