.text-menor {
    font-size: 13px;
}

.divs-facilidades {
    width: 325px;
}
.div-novidades {
    width: 700px;
}
.cor-lilas {
    background-color:  #9353FF;
    border: #9353FF;
}

.cor-verde {
    color: #DAFF01;
}
.posicao{
    top: 40%;
}

@media(max-width: 767px){
    .posicao{
        top:60%;
    }
}
.fs {
    font-size: 48px;
}
.p-fs {
    font-size: 20px;
}

